@media(max-width: 950px){
	//=======================HEADER=========================
	.nav__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 2;
		span{
			position: absolute;
			background-color: #fff;
			right: 0;
			width: 80%;
			height: 2px;
			top: 9px;
			transition: .5s;
		}
		&:before,
		&:after{
			content: '';
			position: absolute;
			background-color: #fff;
			height: 2px;
			right: 0;
		}
		&:before{
			width: 100%;
			top: 0;
			transition:  transform .5s ease-in-out , top .5s ease-in-out .5s ;
		}
		&:after{
			width: 50%;
			bottom: 0;
			transition: width .5s ease-in-out ,transform .5s ease-in-out , bottom .5s ease-in-out .5s ;
		}
	}
	.nav__burger.active{
		span{
			transform: scale(0);
		}
		&:before{
			transform: rotate(45deg);
			top: 9px;
			transition: top .3s ease-in-out , transform .3s ease-in-out .3s;
			width: 100%;
		}
		&:after{
			width: 100%;
			transform: rotate(-45deg);
			bottom: 9px;
			transition: bottom .3s ease-in-out , transform .3s ease-in-out .3s,width .5s ease-in-out;
		}
	}
	.nav__menu{
		position: fixed;
		overflow: auto;
		display: block;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overscroll-behavior: contain;
		transition: .5s ease-in-out;
		padding: 10vh 5vw;
		background-color: #4f5168;
		li{
			margin: 25px 0;
			a{
				display: inline-block;
				text-transform: uppercase;
				font-size: 21px;
				color: #e84545;
				padding: 5px 0;
			}
		}
	}
	.nav__menu.active{
		top: 0;
	}
	//=======================TEAM============================
	.team{
		padding-top: 70px;
	}
	.team__body {
		flex-wrap: wrap;
	}
	.team__column {
		flex: 0 0 50%;
		margin: 30px 0 0 0;
	}
	//=======================TESTIMONIALS====================
	.testimonials__offer{
		padding: 30px 0;
	}
	.testimonials__image{
		display: none;
	}
	.testimonials__item--author{
		margin: 35px 0 0 0;
	}
}
@media(max-width: 710px){
	//=======================FEATURES=========================
	.features__body{
		flex-direction: column;
		align-items: center;
	}
	.features__column{
		flex: none;
		max-width: 400px;
	}
	//=======================WORKS===========================
	.works__body{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
	//=======================TESTIMONIALS====================
	.testimonials__item--text{
		font-size: 32px;
	}
	//=======================FOOTER=========================
	.footer__upper{
		padding: 60px 0;
	}
}
@media(max-width: 555px){
	//=======================HEADER=========================
	.offer{
		margin: 10vh 0 0 0;
	}
	.offer__title{
		font-size: 46px;
	}
	.offer__subtitle{
		font-size: 18px;
	}
	//=======================TESTIMONIALS====================
	.testimonials__item--text{
		font-size: 24px;
	}
	//=======================FOOTER=========================
	.footer__upper--container{
		display: block;
	}
	.footer__upper--item{
		margin: 0 0 35px 0;
		&:last-child{
			margin: 0;
		}
	}
}
@media(max-width: 425px){
	//=======================TEAM============================
	.team__column {
		flex: 0 0 100%;
	}
	//=======================TESTIMONIALS====================
	.testimonials__item{
		padding: 0 30px;
	}
}
@media(max-width: 375px){
	//=======================HEADER=========================
	.nav{
		padding: 20px 0;
	}
	.nav__logo{
		width: 50%;
		img{
			width: 100%;
		}
	}
	.offer__title{
		font-size: 32px;
	}
	.offer__subtitle{
		font-size: 15px;
	}
}